apiVersion: v1
kind: Secret
metadata:
  name: stanovanjske-zadruge-zemljevid-secrets
  labels:
    app.kubernetes.io/name: stanovanjske-zadruge-zemljevid-secrets
    app: stanovanjske-zadruge-zemljevid-secrets
stringData:
  DJANGO_SECRET_KEY: "r^&^$8c*g$6db1s!s7uk9c!v%*ps)_0)h$!f3m7$%(o4b+5qwk"
  # S3 storage
  DJANGO_ENABLE_S3: "yes"
  DJANGO_AWS_ACCESS_KEY_ID: "<TODO>"
  DJANGO_AWS_SECRET_ACCESS_KEY: "<TODO>"
  DJANGO_AWS_STORAGE_BUCKET_NAME: "djnd"
  DJANGO_AWS_LOCATION: "stanovanjske-zadruge-zemljevid"

# generate your secret key with
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
